<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Log Ingestion System</title>
    <style>
        .front{
            flex: auto;
        }
        .side {
            width: max-content;
            height: max-content;
            background-color: rgb(255, 183, 0);

        }.main {
            width: max-content;
            height: max-content;
            background-color: rgb(0, 255, 94);
        }
    </style>
</head>
<body>
    <div class="front">
        <div class="side">
            sample 1
        </div>
        <div class="main">
            sample 2
        </div>
    </div>
</body>
</html>